<%= subscribe_to "/queue/edit" %>

<% if @has_active %>
  <% content_for :body_class do %>editing<% end %>
<% end %>

<h1>Editing Queue</h1>
<div id="editing_queue">
<% if !@entries.blank? %>
  <% @entries.each_with_index do |entry,index| %>
   <% if index % 4 == 0 %>
  <ul class="row-fluid">
   <% end %>
   
    <li id="entry_<%= entry.id %>" class="span3 well<% if entry.editor_id == @admin_user.id %> active owner <% elsif entry.status == ENTRY_STATUS_EDITING_ACTIVE %> active <% end %>"  data-entry-id="<%= entry.id %>">
    <div>
      <p><%= entry.id %></p>
      <div class="data">
        <p><%= "#{entry.user.name_first} #{entry.user.name_last}" %></p>
        <p><%= entry.user.name_nick %></p>
      </div>
      <div class="selected_image">
        <% if entry.selected_image %>
          <div class="">
            <%= image_tag(entry.selected_image.file.url)%>
          </div>
        <% end %>
      
        <%= form_for(Image.new, :url => upload_image_path(Image.new), :html => {:multipart => true, :class => 'edit_image'}) do |f| -%>
          <%= f.hidden_field :entry_id, value: entry.id %>
          <%= f.label :file, "Update Image:" %>
          <%= f.file_field :file, :class => 'image_file' %> <br />
        <% end -%>            
      </div>

      <p class="controls well">
        <%= link_to  editing_start_entry_path(entry, :format => :json), :remote => true, :class => 'remote_action', :data => { :action => 'start-editing'} do %>
          <i class="icon-pencil"></i>Start Editing
        <% end %>
        
        <%= link_to editing_stop_entry_path(entry, :format => :json), :remote => true, :class => 'remote_action', :data => { :action => 'stop-editing'} do %>
          <i class="icon-stop"></i>Stop Editing
        <% end %>
        <%= link_to editing_completed_entry_path(entry, :format => :json), :remote => true, :class => 'remote_action', :data => { :action => 'complete-editing'} do %>          
          <i class="icon-ok"></i>Done Editing
        <% end %>
      </p>
      <p>
        <%= link_to delete_entry_path(entry,:format => :json), :remote => true, :confirm => "are you sure?", :class => 'remote_action delete-entry', :data => { :action => 'delete-entry'} do %>          
          <i class="icon-trash"></i>Delete
        <% end %>
      </p>
<textarea class="userdata"><%= entry.user.name_first %> <%= entry.user.name_last %> aka
<%= entry.user.name_nick %>
</textarea>
            
      <div class="thumbnails well">
        <% if !entry.images.blank? %>
          <% for image in entry.images %>
            <div class="thumbnail">
              <%= link_to(image_tag(image.file.url), download_image_path(image))%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </li>
  <% if index % 4 == 3 %>
    </ul>
  <% end %>
  <% end %>
<% else %>
    <ul class="row-fluid"></ul>
<% end %>
</div>

<% #THIS IS A HIDDEN HTML TEMPLATE TO BE USED BY THE MUSTACHE.JS RENDER - any changes you make to the list item above should be made to this JS template too. %> 
<script class="entry_template" type="text/html">
    <li id="entry_{{entry_id}}" class="span3 well" data-entry-id="{{entry_id}}">
    <div>
      <p>{{entry_id}}</p>
      <div class="data">
        <p>{{user.name_first}} {{user.name_last}}</p>
        <p>{{user.name_nick}}</p>
      </div>
      <div class="selected_image">
          <form accept-charset="UTF-8" action="<%= upload_image_path %>" class="edit_image" enctype="multipart/form-data" method="post">
            <div>
              <input name="utf8" type="hidden" value="✓">
              <input name="authenticity_token" type="hidden" value="{{auth_token}}">
            </div>  						
            <input id="image_entry_id" name="image[entry_id]" type="hidden" value="{{entry_id}}">
            <label for="image_file">Update Image:</label>
            <input class="image_file" name="image[file]" type="file">
          </form>
      </div>

      <p class="controls well">
        <%= link_to "entry/{{entry_id}}/editing_start.json", :remote => true, :class => 'remote_action', :data => { :action => 'start-editing'} do %>
          <i class="icon-pencil"></i>Start Editing
        <% end %>
        <%= link_to "entry/{{entry_id}}/editing_stop.json", :remote => true, :class => 'remote_action', :data => { :action => 'stop-editing'} do %>        
          <i class="icon-stop"></i>Stop Editing
        <% end %>
        <%= link_to "entry/{{entry_id}}/editing_completed.json", :remote => true, :class => 'remote_action', :data => { :action => 'complete-editing'} do %>        
          <i class="icon-ok"></i>Done Editing
        <% end %>
      </p>
      <p>
        <%= link_to "entry/{{entry_id}}/delete", :remote => true, :confirm => "are you sure?", :class => 'remote_action delete-entry', :data => { :action => 'delete-entry'} do %>        
          <i class="icon-trash"></i>Delete
        <% end %>
      </p>
    </div>
    <textarea class="userdata">{{user.name_first}} {{user.name_last}} aka
{{user.name_nick}}
</textarea>
    <div class="thumbnails well"></div>
  </li>  
</script>
<% # END THIS IS A HIDDEN HTML TEMPLATE TO BE USED BY THE MUSTACHE.JS RENDER %> 


<% #THIS IS A HIDDEN HTML TEMPLATE TO BE USED BY THE MUSTACHE.JS RENDER - any changes you make to the list item above should be made to this JS template too. %> 
<script class="entry_form_template" type="text/html">  
  <div class="thumbnail">
      <a href="/image/download/{{id}}.download"><img src="{{local_file}}"></a>
  </div>  
</script>
<% # END THIS IS A HIDDEN HTML TEMPLATE TO BE USED BY THE MUSTACHE.JS RENDER %> 
