<%= subscribe_to "/queue/photo" %>

<% if @has_active %>
	<% content_for :body_class do %>editing<% end %>
<% end %>



<h1>Photography Queue</h1>
<div id="photography_queue">
<% if !@entries.blank? %>
  <% @entries.each_with_index do |entry,index| %>
  	<% if index % 4 == 0 %>
		<ul class="row-fluid">
	<% end %>
    <li id="entry_<%= entry.id %>"class="span3 well <% if entry.photographer_id == @admin_user.id %>active owner<% end %>"  data-entry-id="<%= entry.id %>">
		<div>
			<p><%= entry.id %></p>
			<p><%= "#{entry.user.name_first} #{entry.user.name_last}" %></p>
			<p><%= entry.user.name_nick %></p>
			<p class="controls well">
				<%= link_to photography_start_entry_path(entry,:format => :json), :remote => true, :class => 'remote_action', :data => { :action => 'start-photography'} do %>
					<i class="icon-play"></i>Start Photography
				<% end %>
				<%= link_to photography_stop_entry_path(entry, :format => :json), :remote => true, :confirm => "Are you sure? This will delete any pictures taken so far.", :class => 'remote_action', :data => { :action => 'stop-photography'} do %>					
					<i class="icon-stop"></i>Stop Photography
				<% end %>
				<%= link_to photography_completed_entry_path(entry, :format => :json), :remote => true, :class => 'remote_action', :data => { :action => 'complete-photography'} do %>					
					<i class="icon-eject"></i>Complete Photography
				<% end %>
			</p>
			<p>
				<%= link_to delete_entry_path(entry,:format => :json), :remote => true, :confirm => "are you sure?", :class => 'remote_action', :data => { :action => 'delete-entry'} do %>					
					<i class="icon-trash"></i>Delete
				<% end %>
			</p>
		</div>
	</li>
	<% if index % 4 == 3 %>
		</ul>
	<% end %>
  <% end %>
<% else %>
  <ul class="row-fluid"></ul>
<% end %>
	
	
</div>

<% #THIS IS A HIDDEN HTML TEMPLATE TO BE USED BY THE MUSTACHE.JS RENDER - any changes you make to the list item above should be made to this JS template too. %> 
<script class="entry_template" type="text/html">
	<li id="entry_{{entry_id}}" class="span3 well" data-entry-id="{{entry_id}}">
		<div>
			<p>{{entry_id}}</p>
			<p>{{user.name_first}} {{user.name_last}}</p>
			<p>{{user.name_nick}}</p>
			<p class="controls well">
				<%= link_to "entry/{{entry_id}}/photography_start.json", :remote => true, :class => 'remote_action', :data => { :action => 'start-photography'} do %>
					<i class="icon-play"></i>Start Photography
				<% end %>
				<%= link_to "entry/{{entry_id}}/photography_stop.json", :remote => true, :confirm => "are you sure?", :class => 'remote_action', :data => { :action => 'stop-photography'} do %>
					<i class="icon-stop"></i>Stop Photography
				<% end %>
				<%= link_to "entry/{{entry_id}}/photography_completed.json", :remote => true, :class => 'remote_action', :data => { :action => 'complete-photography'} do %>
					<i class="icon-eject"></i>Complete Photography
				<% end %>
			</p>
			<p><%= link_to "Delete", "entry/{{entry_id}}/delete.json", :remote => true, :confirm => "are you sure?", :class => 'remote_action', :data => { :action => 'delete-entry'} %></p>
		</div>
	</li>
</script>
<% #END THIS IS A HIDDEN HTML TEMPLATE TO BE USED BY THE MUSTACHE.JS RENDER %> 
