// Place all the styles related to the Entry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$inactive_border_color : #c0c0c0;
$inactive_background_color: #C6c6c6;

$active_background_color : rgba(255,0,0,.5);
$owner_background_color : red;

$active_link_color : white;
h1{
  margin-top: 50px;
}
body.editing{
//  overflow: hidden;
}
.row-fluid{
  width: auto;
}
a{
  color: #000 !important;  
  text-decoration: none !important;  
}
  
a:hover{
  color: #747474 !important;
}

ul li{
  & a[data-action='complete-editing'], & a[data-action='complete-photography'], & a[data-action='stop-editing'], & a[data-action='stop-photography'] {
    display: none;
  }
}

.well{
  .userdata{
    width: 100%;
    height: 200px;
    display: none;
  }
  .thumbnails{
    display: none;
  }
  .controls{
    a{
      i{
        margin-right: 5px;
      }
    }
  }
  .thumbnail {
    margin: .5em 0;
    float: left;
    background: none;
    border: none;
    -webkit-box-shadow: none;
  }  
  &.active{
    background: red;
    .controls{
      visibility: hidden;
    }
    .delete-entry{
      visibility: hidden;
    }
  }
  .data{
    display: block;
  }
  .selected_image{
    display: none;
  }
  &.owner{
    .selected_image{
      display: block;
    }
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    overflow: scroll;
    .userdata{
      display: block;
    }
    .controls{
      visibility: visible;
    }
    .controls a{
      margin-right: 10px;
    }    
    .thumbnails{
      display: block;
    }
    .thumbnails{
      display: block;
      background-color: #ccc;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.25);
    }
    label[for='image_file']{
      margin-top: 10px;
      margin-bottom: 0;
    }
    input[type="file"]{
      line-height: 0 !important;
      height: auto !important;
    }
    & a[data-action='start-editing'], & a[data-action='start-photography']{
      display: none;
    }
    & a[data-action='complete-editing'], & a[data-action='complete-photography'], & a[data-action='stop-editing'], & a[data-action='stop-photography'], & a[data-action='delete_entry'] {
      display: inline;
    }      
    label[for='image_file']{
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  #editing_queue &.owner{
    .data{
      display: none;
    }
    .delete-entry{
      visibility: visible;
    }
    
  }  
}

#notice{
  background: #CFcFcF;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1%;
  font-size: 1.4em;
  font-weight: bold;
}


#registration_form{
  $input_width: 450px;
  
  h1{
    text-align: center;
    margin-bottom: 40px;
  }
  .row{
    margin-bottom: 20px;
  }
  input[type="text"], select{
    display: block;
    width: $input_width;
  }
  select{
    width: $input_width + 10;
  }
  .terms{
    height: 300px;
    overflow: auto;
  }
  input[type='email']{
    width: 450px;
  }
}
.last-entry-image{
  display: block;
  margin-left: 30%;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 50% 75% 0;
}
