html,body {
  width: 100%;
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
/*  background: url('https://c349978.ssl.cf1.rackcdn.com/sasquatch/yellowbg.jpg') repeat-x bottom left, url('https://c349978.ssl.cf1.rackcdn.com/sasquatch/sliver.jpg') repeat 0 0;*/
	background: black;
}
.image {
  /*height: 33%;*/
  float: left;
  text-align: center;
  position: relative;
}
.image img {
  position: absolute;
  top: 20px; left: 40px;
  vertical-align: middle;
  border: 5px solid white;
}


/*transitions*/
/* POP IN */
.popin .incoming {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 0.7s;
  -webkit-transform: scale(0.1);
  opacity: 0;
}
.popin.active .incoming {
  -webkit-animation-name: popin;
}
@-webkit-keyframes popin {
  0% { -webkit-transform: scale(0.1); opacity: 0; -webkit-animation-timing-function: ease-in-out; }
  80% { -webkit-transform: scale(1.1); opacity: 0.9; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

/* FALLEN LEAF */
.fallenleaf .incoming {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1.8s;
  -webkit-transform: translate(-250px,-500px) rotate(20deg);
  opacity: 0;
}
.fallenleaf.active .incoming {
  -webkit-animation-name: fallenleaf; 
}
@-webkit-keyframes fallenleaf {
  0% { -webkit-transform: translate(-250px,-500px) scale(1.4) rotate(20deg); opacity: 0; -webkit-animation-timing-function: ease-in-out; }
  40% { -webkit-transform: translate(220px,-200px) scale(1.2) rotate(-20deg); opacity: 0.7; }
  75% { -webkit-transform: translate(-90px,-60px) scale(1) rotate(10deg); opacity: 1; }
  100% { -webkit-transform: translate(0,0) scale(1) rotate(0deg); opacity: 1; }
}

/* LINE WIPE */
.linewipe .incoming {
  -webkit-mask-image: url("https://c349978.ssl.cf1.rackcdn.com/sasquatch/linewipe-mask.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: -1200px -300px;
  -webkit-mask-size: 1200px;
  -webkit-animation-duration: 1s;
}
.linewipe.active .incoming {
  -webkit-animation-name: linewipe;
}
@-webkit-keyframes linewipe {
  0% { -webkit-mask-position: -1200px -300px; -webkit-animation-timing-function: linear; }
  100% { -webkit-mask-position: -300px -300px; }
}

/* FLIP SWITCH */
.flipswitch .incoming,
.flipswitch .outgoing {
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -webkit-backface-visibility: hidden;
}
.flipswitch .incoming {
  -webkit-transform: rotateY(-20deg) scale(0.95) translate3d(-60px, 65px, 200px);
  opacity: 0;
}
.flipswitch.active .outgoing {
  -webkit-animation-name: flipswitch;
}
.flipswitch.active .incoming {
  -webkit-animation-name: flipswitch2;
}
@-webkit-keyframes flipswitch {
  0% { -webkit-transform: rotateY(0); -webkit-animation-timing-function: ease-in-out; }
  30% { -webkit-transform: rotateY(-20deg); }
  70% { -webkit-transform: rotateY(-20deg) translate3d(60px, -80px, -200px); opacity: 0.2; }
  100% { -webkit-transform: rotateY(-20deg) translate3d(60px, -80px, -200px); opacity: 0; }
}
@-webkit-keyframes flipswitch2 {
  0% {-webkit-transform: rotateY(-20deg) scale(0.95) translate3d(-60px, 65px, 200px); -webkit-animation-timing-function: ease-in-out; }
  30% { -webkit-transform: rotateY(-20deg) scale(0.95) translate3d(-60px, 65px, 200px); opacity: 0.2; }
  70% { -webkit-transform: rotateY(-20deg) scale(1) translate3d(0,0,0); opacity: 1; }
  100% { -webkit-transform: rotateY(0) scale(1) translate3d(0,0,0); opacity: 1; }
}

/* SQUISH */
.squish .incoming {
  -webkit-animation-iteration-count: 1;
  -webkit-transform: scale(0.8) translate(0px,-800px);
  -webkit-animation-duration: 1s;
}
.squish.active .incoming {
  -webkit-animation-name: squish;
}
@-webkit-keyframes squish {
  0% { -webkit-transform: scale(0.5,1.2) translate(0px,-800px); -webkit-animation-timing-function: linear; }
  20% { -webkit-transform: scale(0.5,1.2) translate(0px,-800px); -webkit-animation-timing-function: linear; }
  40% { -webkit-transform: scale(1,1) translate(0px,0px); }
  50% { -webkit-transform: scale(1.4, 0.7) translate(0px,100px); }
  60% { -webkit-transform: scale(0.8,1.2) translate(0px,-40px); }
  70% { -webkit-transform: scale(1) translate(0px,0px); }
  80% { -webkit-transform: scale(1.1,0.9) translate(0px,20px); }
  100% { -webkit-transform: scale(1) translate(0px,0px); }
}

