body{
  background-color: #252525;
}
.header_logo{
  display: block;
  margin: 10px auto 0;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.container-fluid form#registration_form.container{
  padding: 10px 0;
  width: 980px !important;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  .row{
    margin: 10px 0 10px 0;
  }
  .btn-primary{
    background: #fab640;
  }
  .btn-primary:hover{
    background: darken(#fab640,20%);
  }
  span.error{
    background: red;
    color: white;
    padding: 2px 5px;
  }
  .terms{
    height: 170px;
  }
  .terms *{
    font-size: 90%;
  }
  .generate-nickname{
    margin-left: -5px;
  }
  .input-append input{
    display: inline-block;
    width: 372px;
  }
}