<!DOCTYPE html>
<html lang="en">
<head>
  <title>PhotoBooth</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "mustache", "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body<% if content_for?(:body_class) %> class="<%= yield(:body_class) %>"<% end %>>
  <%= subscribe_to "/entry/delete" %>

<div class="container-fluid">
    <%= link_to "logout", destroy_admin_user_session_path, html_options = {:class => 'btn btn-primary btn-mini'} %>
    <% if flash[:notice] %>
    <div id="notice">
        <%= flash[:notice] %>
    </div>
    <% end %>
    
	
<%= yield %>

</div>
</body>
</html>
