<!DOCTYPE html>
<html lang="en">
<head>
  <title>PhotoBooth</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gallery'%>
  
  <%= csrf_meta_tags %>
</head>
<body<% if content_for?(:body_class) %> class="<%= yield(:body_class) %>"<% end %>>

<div id="container" class="completed">
<%= yield %>
</div>
<%= javascript_include_tag "mustache", "application", "gallery", "last_entry" %>
<%= subscribe_to "/entry/complete" %>
<%= subscribe_to "/queue/edit" %>

</body>
</html>
